<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>474681767665-5ec38rljdnr35cm2delrb2t264svagqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474681767665-5ec38rljdnr35cm2delrb2t264svagqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAeGvl9dlYuejm9Np22cFNB6csDevCg9Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>474681767665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SandeshNaik.Mentor-me</string>
	<key>PROJECT_ID</key>
	<string>mentor-me-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>mentor-me-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474681767665:ios:f9b29b293afc982a</string>
	<key>DATABASE_URL</key>
	<string>https://mentor-me-ios.firebaseio.com</string>
</dict>
</plist>